@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(149deg, #000000 0%, #590750 42%, #3369b0 72%, #620ecf 100%);
  animation: gradient 10s infinite linear;
  background-size: 400%;
}

@keyframes gradient {
  0% {
      background-position: 80% 0%;
  }
  50% {
      background-position: 20% 100%;
  }
  100% {
      background-position: 80% 0%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

